name: Staging Build

on:
  push:
    branches:
      - staging

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v3
        with:
          distribution: zulu
          java-version: 17

      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - run: flutter pub get

      - name: Build Android (Release)
        run: flutter build apk --release

      - name: Build iOS (No Codesign)
        run: flutter build ios --no-codesign
